.wrapper {
  height: 100vh;
}

#boardbox {
  width: 800px;
  height: 800px;
  background-color: ;
}

.box {
  width: 80px;
  height: 80px;
  padding: 8px;
}

.boxcontent{
  width: 100%;
  height: 100%;
  background-color: darkgray;
  color: #ffffff;
}

.bg-fizz {
  background-color: red;
  color: white;
}

.bg-buzz {
  background-color: yellow;
  color: black;
}

.bg-fizzbuzz {
  background-color: orange;
  color: lightyellow;
}
